*
{
	margin: 0;
	padding: 0;
}
body
{
	width: 100%;
	height: 100px;
}
a{
	text-decoration: none;
}
.navbar
{
	font-family: 'Gadugi';
	position: sticky;
	top: 0px;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	color: white;
}
.logo h1 a
{
	font-size: 30px;
	margin-left: 100%;
	color: white;
}
.nav ul {
	display: flex;
	gap: 80px;
	margin-right: 30px;
}
.nav ul li a
{
	color: white;
	text-decoration: none;
}
.bi-facebook{
	margin-right: 10px;
}
.image
{
	color: white;
	text-align: center;
	margin-top: 50px;
}
.nav ul li a:hover{
	color: greenyellow;
	transition: .6s;
}
.img
{
    color: white;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1.5rem;
    font-family: 'Gadugi';
}
.img1
{
    margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
}
.img2
{
	margin-left: 8%;
    margin-top: -10%;
}
.img3
{
	margin-left: 55%;
    margin-top: -50%;
}
/*.img4
{
    margin-left: 6%;
    margin-top: -30%;
}
.img5
{
  
}*/
.next
{
    margin-top: 50%;
    font-family: 'Gadugi';
    margin-left: 5%;
}

.next a
{
	color: white;
}
















